<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Meu perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-list>
      <ion-item-divider><ion-label>Informações pessoais</ion-label></ion-item-divider>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>    
      
      <ion-item>
        <ion-label position="stacked">Telefone</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item-divider><ion-label>Endereço</ion-label></ion-item-divider>
      <ion-item>
        <ion-label position="stacked">CEP</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Logradouro</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Número</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Complemento</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Bairro</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-margin-vertical">
      <ion-button expand="block" color="primary">Salvar</ion-button>
    </div>
  </form>
</ion-content>
