<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cardápio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Hamburguer</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="https://source.unsplash.com/800x600/?hambuger"></ion-img>        
      </ion-thumbnail>

      <ion-label>
        <h1 class="ion-text-wrap">X-Teste 1</h1>        
        <p class="text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at lacinia orci, sed suscipit orci. Vestibulum libero odio, pulvinar eget neque at, iaculis tristique sem. Phasellus ultrices molestie purus eget placerat. Nulla quis turpis nisi. Aenean et commodo nibh. Nulla facilisi. Curabitur tristique tellus a lorem pretium
        </p>

        <ion-text color="success">
          <p>{{10 | currency:'BRL'}}</p>
        </ion-text>        
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="https://source.unsplash.com/800x600/?hambuger"></ion-img>        
      </ion-thumbnail>

      <ion-label>
        <h1 class="ion-text-wrap">X-Teste 1</h1>        
        <p class="text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at lacinia orci, sed suscipit orci. Vestibulum libero odio, pulvinar eget neque at, iaculis tristique sem. Phasellus ultrices molestie purus eget placerat. Nulla quis turpis nisi. Aenean et commodo nibh. Nulla facilisi. Curabitur tristique tellus a lorem pretium
        </p>

        <ion-text color="success">
          <p>{{10 | currency:'BRL'}}</p>
        </ion-text>        
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="https://source.unsplash.com/800x600/?hambuger"></ion-img>        
      </ion-thumbnail>

      <ion-label>
        <h1 class="ion-text-wrap">X-Teste 1</h1>        
        <p class="text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at lacinia orci, sed suscipit orci. Vestibulum libero odio, pulvinar eget neque at, iaculis tristique sem. Phasellus ultrices molestie purus eget placerat. Nulla quis turpis nisi. Aenean et commodo nibh. Nulla facilisi. Curabitur tristique tellus a lorem pretium
        </p>

        <ion-text color="success">
          <p>{{10 | currency:'BRL'}}</p>
        </ion-text>        
      </ion-label>
    </ion-item>
  </ion-item-group>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>