<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cardápio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Hamburguer</ion-label>
    </ion-item-divider>

    <app-cardapio-item [routerLink]="['new']"></app-cardapio-item>
    <app-cardapio-item></app-cardapio-item>
    <app-cardapio-item></app-cardapio-item>
  </ion-item-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['/tabs/checkout/shopping-cart']">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>