<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cardápio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar inputmode="search" showCancelButton="focus" (ionChange)="onSearchChange($event)"
    (ionCancel)="onSearchCancel($event)"></ion-searchbar>

  <ion-item-group *ngFor="let category of cardapio">
    <ion-item-divider>
      <ion-label>{{category.categoryName}}</ion-label>
    </ion-item-divider>

    <app-cardapio-item *ngFor="let product of category.products" [product]="product"
      [routerLink]="['new', product._id]">
    </app-cardapio-item>
  </ion-item-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['/tabs/checkout/shopping-cart']">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>