<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Esqueci minha senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-margin-vertical">
      <ion-button expand="block" color="primary">Enviar solicitação</ion-button>
    </div>
  </form>
</ion-content>