<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Criar minha conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="user.name" name="name" #name="ngModel" required></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="name.invalid && (name.dirty || name.touched)">
        <ion-label color="danger">
          <p *ngIf="name.errors.required">{{validationText.required}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email" #email="ngModel" required email></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="email.invalid && (email.dirty || email.touched)">
        <ion-label color="danger">
          <p *ngIf="email.errors.required">{{validationText.required}}</p>
          <p *ngIf="email.errors.email">{{validationText.email}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="password.invalid && (password.dirty || password.touched)">
        <ion-label color="danger">
          <p *ngIf="password.errors.required">{{validationText.required}}</p>
        </ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>Endereço</ion-label>
      </ion-item-divider>

      <div class="cep-container">
        <div class="cep-input ion-margin-end">
          <ion-item>
            <ion-label position="stacked">Cep</ion-label>
            <ion-input type="text" [(ngModel)]="user.cep" name="cep" #cep="ngModel" required maxlength="8"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="cep.invalid && (cep.dirty || cep.touched)">
            <ion-label color="danger">
              <p *ngIf="cep.errors.required">{{validationText.required}}</p>
            </ion-label>
          </ion-item>
        </div>
        <div class="cep-button ion-margin-top">
          <ion-button type="button" expand="block" color="secondary" fill="outline" (click)="getAddressByCep()" >
            <ion-icon name="search-outline" slot="start"></ion-icon> Buscar
          </ion-button>
        </div>
      </div>
      

      <ion-item>
        <ion-label position="stacked">Logradouro</ion-label>
        <ion-input type="text" [(ngModel)]="user.stret" name="stret" #stret="ngModel" required></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="stret.invalid && (stret.dirty || stret.touched)">
        <ion-label color="danger">
          <p *ngIf="stret.errors.required">{{validationText.required}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Número</ion-label>
        <ion-input type="text" [(ngModel)]="user.number" name="number" #number="ngModel" #inputNumber required></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="number.invalid && (number.dirty || number.touched)">
        <ion-label color="danger">
          <p *ngIf="number.errors.required">{{validationText.required}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Complemento</ion-label>
        <ion-input type="text" [(ngModel)]="user.complement" name="complement" #complement="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Bairro</ion-label>
        <ion-input type="text" [(ngModel)]="user.neighborhood" name="neighborhood" #neighborhood="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="neighborhood.invalid && (neighborhood.dirty || neighborhood.touched)">
        <ion-label color="danger">
          <p *ngIf="neighborhood.errors.required">{{validationText.required}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cidade</ion-label>
        <ion-input type="text" [(ngModel)]="user.city" name="city" #city="ngModel" required></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="city.invalid && (city.dirty || city.touched)">
        <ion-label color="danger">
          <p *ngIf="city.errors.required">{{validationText.required}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="ion-margin-vertical">
      <ion-button type="submit" expand="block" color="primary" [disabled]="form.form.invalid">Criar minha conta
      </ion-button>
    </div>
  </form>
</ion-content>