<ion-item lines="full">
  <div class="item-container">
    <div class="item-quantity">{{item?.quantity}}x</div>
    <div class="item-name ion-padding-horizontal">{{item?.product?.name}}</div>
    <div class="item-total">{{ item?.quantity * item?.product?.price | currency:'BRL' }} </div>
    <div class="item-button">
      <ion-button fill="clear" size="small" (click)="onActionButtonClicked()">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-item>