<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-bottom">
  <ion-list>
    <ion-list-header>
      <ion-label>Local de entrega</ion-label>
    </ion-list-header>

    <ion-radio-group [(ngModel)]="deliveryModel.deliveryPlaceType" (ionChange)="onDeliveryPlaceChange()">
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Retirar no local<br />
          <small>{{getRestaurantAddressText()}}</small>
        </ion-label>
        <ion-radio slot="start" [value]="deliveryPlaceTypeEnum.restaurant"></ion-radio>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Delivery</ion-label>
        <ion-radio slot="start" [value]="deliveryPlaceTypeEnum.delivery"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Endereços</ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="deliveryModel.addressId" (ionChange)="onAdressChange()">
      <ion-item lines="full" *ngFor="let address of addresses">
        <ion-label class="ion-text-wrap">
          {{getAddressText(address)}}
        </ion-label>
        <ion-radio slot="start" [value]="address._id"
          [disabled]="deliveryModel.deliveryPlaceType === deliveryPlaceTypeEnum.restaurant"></ion-radio>
      </ion-item>
    </ion-radio-group>

  </ion-list>
</ion-content>
<ion-footer class="ion-padding-horizontal">
  <app-shopping-cart-total 
    [subtotal]="subtotal$ | async" 
    [deliveryTax]="deliveryValue$ | async" 
    [deliveryFree]="deliveryFree$ | async"
    [total]="total$ | async"></app-shopping-cart-total>

  <ion-button expand="block" color="primary" (click)="onPaymentButtonClick()"  [disabled]="disablePaymentButton$ | async">
    Escolher forma de pagamento
  </ion-button>
</ion-footer>