<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-bottom">
  <ion-list>
    <ion-list-header>
      <ion-label>Local de entrega</ion-label>
    </ion-list-header>

    <ion-radio-group value="delivery">
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Retirar no local<br />
          <small>Nome da rua, 111 - Bairo</small>
        </ion-label>
        <ion-radio slot="start" value="retirar"></ion-radio>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Delivery</ion-label>
        <ion-radio slot="start" value="delivery"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Endereços</ion-label>
    </ion-list-header>
    <ion-radio-group value="" >
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Nome da rua, 111 - Bairro
        </ion-label>
        <ion-radio slot="start" value="id-1"></ion-radio>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Nome da rua, 111 - Bairro
        </ion-label>
        <ion-radio slot="start" value="id-2"></ion-radio>
      </ion-item>
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Nome da rua, 111 - Bairro
        </ion-label>
        <ion-radio slot="start" value="id-3"></ion-radio>
      </ion-item>
    </ion-radio-group>
    
  </ion-list>
</ion-content>
<ion-footer class="ion-padding-horizontal">
  <app-shopping-cart-total [subtotal]="119.00" [deliveryTax]="10" [total]="129"></app-shopping-cart-total>
  
  <ion-button expand="block" color="primary" [routerLink]="['/tabs/checkout/payment']">
    Escolher forma de pagamento
  </ion-button>
</ion-footer>