<ion-list>
  <ion-item>
    <div class="item-container">
      <div class="item-number">#1234987</div>
      <div class="item-value ion-padding-horizontal">R$10,00</div>
      <div class="item-date">29/07/2020</div>
    </div> 
  </ion-item>
  <ion-item>
    <div class="item-container">
      <div class="item-number">#1234987</div>
      <div class="item-value ion-padding-horizontal">R$100,00</div>
      <div class="item-date">29/07/2020</div>
    </div> 
  </ion-item>
  <ion-item>
    <div class="item-container">
      <div class="item-number">#1234987</div>
      <div class="item-value ion-padding-horizontal">R$1,00</div>
      <div class="item-date">29/07/2020</div>
    </div> 
  </ion-item>
</ion-list>