<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-bottom">
  <ion-list>
    <ion-list-header>
      <ion-label>Forma de pagamento</ion-label>
    </ion-list-header>

    <ion-radio-group value="">
      <ion-item lines="full">
        <ion-label class="ion-text-wrap">
          Dinheiro
        </ion-label>
        <ion-radio slot="start" value="dinheiro"></ion-radio>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Cartão</ion-label>
        <ion-radio slot="start" value="cartao"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Troco para</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Qual cartão</ion-label>
      <ion-select cancelText="cancelar">
        <ion-select-option value="md">Mastercard crédito</ion-select-option>
        <ion-select-option value="mc">Mastercard débito</ion-select-option>
        <ion-select-option value="vc">Visa crédito</ion-select-option>
        <ion-select-option value="vd">Visa débito</ion-select-option>        
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-padding-horizontal">
  <app-shopping-cart-total [subtotal]="119.00" [deliveryTax]="10" [total]="129"></app-shopping-cart-total>

  <ion-button expand="block" color="primary">
    Enviar pedido
  </ion-button>
</ion-footer>