<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" >      
      <ion-back-button defaultHref="tabs/cardapio"></ion-back-button>
    </ion-buttons>

    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <h2 class="ion-padding-horizontal">Itens do pedido</h2>
  <ion-list>
    <app-shopping-cart-item *ngFor="let item of items$ | async" [item]="item"
      (actionButtonClicked)="loadItemActions($event)"
    ></app-shopping-cart-item>
  </ion-list>

  <div class="ion-padding-horizontal ion-margin-bottom">
    <ion-button fill="outline" expand="block" color="primary" [routerLink]="['/tabs/cardapio']">
      Adicionar mais itens
    </ion-button>
  </div>

</ion-content>
<ion-footer class="ion-padding-horizontal">
  <app-shopping-cart-total [subtotal]="subtotal$ | async"></app-shopping-cart-total>
  
  <ion-button expand="block" color="primary" [routerLink]="['/tabs/checkout/delivery']">
    Escolher local de entrega
  </ion-button>
</ion-footer>